*{
    padding: 0px;
    margin: 0px;

}
     .div-all{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 55px;
        
     }

.div-portfolio .div-name h1{
    color: aliceblue;
}
   .div-discribtion p{
    background-color: rgb(20, 52, 7);
   }

   
.div-portfolio .div-name span{
    color: rgb(168, 245, 1);
}
.div-portfolio .div-name{
margin: 0 auto;
}
.div-discribtion p{
    color: aliceblue;
    font-size: 26px;

}
.div-img img{
   
    border-radius: 50%;
    height: 350px;
}
.contact-resume{
    display: flex;
    gap: 90px;
}
.contact-resume h2{
  background-color: rgb(228, 244, 2);
  border: 2px dashed;
  border-radius: 40px;
  padding: 10px;
}
.contact-resume h3{
     color: aliceblue;
  border: 2px dashed;
  border-radius: 40px;
  padding: 10px;
}
.contact-resume h2:hover{
    background-color: darkorange;
}
.contact-resume h3:hover{
    background-color: rgb(255, 0, 123);
}