*{
    margin: 0px;
    padding: 0px;
   
}
.div-card{
    display: flex;
flex-direction: column;
    justify-content: center;
   text-align: center;
   width: 200px;
 border: 4px solid #333;
   color: rgb(239, 9, 9);
   cursor: pointer;
font-size: 15px;
line-height: 1.5;


  

} 